workflows/templates/02-contact-enrollment.json
{
  "name": "[Enrollment] Contact Enrollment",
  "tags": [{"name": "enrollment"}],
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enroll-contact",
        "responseMode": "responseNode"
      },
      "id": "webhook_trigger",
      "name": "Enrollment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "enroll-contact"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {"value1": "={{$json.contact_id}}", "operation": "isNotEmpty"},
            {"value1": "={{$json.campaign_id}}", "operation": "isNotEmpty"}
          ]
        }
      },
      "id": "validate_payload",
      "name": "Valid Payload?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "https://api.sendgrid.com/v3/marketing/contacts",
        "method": "PUT",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "body": {
          "list_ids": ["={{$json.list_id}}"],
          "contacts": [{"email": "={{$json.email}}", "custom_fields": {"campaign_tag": "={{$json.campaign_tag}}"}}]
        },
        "options": {"timeout": 15000}
      },
      "id": "update_contact",
      "name": "Add Contact to SendGrid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 200],
      "credentials": {
        "httpHeaderAuth": {"id": "SENDGRID_CRED_ID", "name": "SendGrid Email API"}
      }
    },
    {
      "parameters": {
        "url": "https://api.sendgrid.com/v3/marketing/lists/{{$json.segment_id}}/contacts",
        "method": "PUT",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "body": {
          "contact_ids": ["={{$json.contact_id}}"]
        },
        "options": {"timeout": 15000}
      },
      "id": "add_to_segment",
      "name": "Add to List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 200],
      "credentials": {
        "httpHeaderAuth": {"id": "SENDGRID_CRED_ID", "name": "SendGrid Email API"}
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {"name": "action", "value": "enrolled"},
            {"name": "contact_id", "value": "={{$json.contact_id}}"},
            {"name": "campaign_id", "value": "={{$json.campaign_id}}"},
            {"name": "timestamp", "value": "={{new Date().toISOString()}}"}
          ]
        }
      },
      "id": "log_enrollment",
      "name": "Log Enrollment",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"enrolled\",\"contact_id\":\"{{$json.contact_id}}\"}"
      },
      "id": "respond_success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1440, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"error\",\"message\":\"Invalid payload: contact_id and campaign_id required\"}",
        "responseCode": 400
      },
      "id": "respond_error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 450]
    }
  ],
  "connections": {
    "Enrollment Webhook": {"main": [[{"node": "Valid Payload?", "type": "main", "index": 0}]]},
    "Valid Payload?": {
      "main": [
        [{"node": "Add Contact to SendGrid", "type": "main", "index": 0}],
        [{"node": "Respond Error", "type": "main", "index": 0}]
      ]
    },
    "Add Contact to SendGrid": {"main": [[{"node": "Add to List", "type": "main", "index": 0}]]},
    "Add to Segment": {"main": [[{"node": "Log Enrollment", "type": "main", "index": 0}]]},
    "Log Enrollment": {"main": [[{"node": "Respond Success", "type": "main", "index": 0}]]}
  },
  "settings": {
    "timezone": "America/Chicago",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  }
}
